ul {
  margin-bottom: 20px;
  vertical-align: center;
}

li {
  float: left;
  vertical-align: center;
  height: 30px;
  width: 200px;
}

th, td {
  float: left;
  height: 30px;
  width: 200px;
}

input {
  height: 100%;
  width: 100%;
  text-align: left;
  font-size: 100%;
  border-radius: 5px;
}

select {
  height: 100%;
  width: 100%;
  font-size: 100%;
  border-radius: 5px;
}

.bold {
  font-weight: bold;
}

.containar {
  max-width: 820px;
  min-width: 650px;
  margin: 60px auto;
  padding-left: 15px;
  padding-right: 15px;
  clear: both;

  background-color: aliceblue;
  border-radius: 20px;
}

.template {
  display: none;
}

.hidden {
  display: none;
}

.flexbox {
  display: flex;
}



/* 会議カテゴリー１関連 */
#meeting-form-1 {
  border-top: solid 2px #aaa;
  padding-top: 20px;
  padding-bottom: 20px;
}

#alert-disp {
  color: red;
  width: 400px;
}

.btn-cell {
  width: 30px;
  height: 30px;
}

.add-btn {
  height: 30px;
  width: 30px;
  border-radius: 20px;
  background-color: #ddd;
  color: green;
}

.del-btn {
  height: 30px;
  width: 30px;
  border-radius: 20px;
  background-color: red;
  color: white;
}

.person_name, .person_role {
  box-sizing: border-box;
  padding-left: 5px;
  vertical-align: center;
  border: solid 1px #aaa;
  /* border-radius: 5px; */
  background-color: #fcfcfc;
}

